<p id="notice"><%= notice %></p>

<h1>
  <%= @exam.title %>
</h1>

<p>
  <%= @exam.description %>
</p>

<h3>
	<%= @question.title %>
	<div class="btn btn-group">
		<%= link_to 'Edit', edit_exam_question_path(@question.exam,@question) , :class => "btn btn-xs btn-primary" %>
		<%= link_to 'Back', @exam , :class => "btn btn-xs btn-primary" %>
	</div>
</h3>

<%= render 'answers/form' %>

<h3>Answers</h3>
<br>
<table class="table">
	<tr> 
		<th>Description</th> 
		<th>State</th>
		<th>Action</th>
	<tr>
	<%= render @question.answers %>
</table>
