<p id="notice"><%= notice %></p>

<h1>
  <%= @exam.title %>
  <%= link_to 'Back', exams_path , :class => "btn btn-xs btn-primary" %>
</h1>

<p>
  <%= @exam.description %>
</p>

<h2>Questions</h2>


<% @exam.questions.each_with_index do |question , index|  %>
	<h3><%= index+1  %>. <%= question.title  %></h3>
	<div style="padding-left: 0.7cm;">
		<% question.answers.each do |answer| %>
			</p>
				<% if question.type == 1 %>
					<%= check_box_tag question.id %>
					<%= answer.title %>
				<% else %>
					<%= radio_button_tag question.id, true %> <%= answer.title %>
				<% end %>	
			</p>
		<% end %>
	</div>
<% end %>
